<div class="container mt-4">
    <section class="card" *ngIf="quizDetails">
      <header class="card-header">
        <h1>{{ quizDetails.name }}</h1>  <button class="btn btn-danger me-2 mb-4" (click)="deleteQuiz()">Usuń quiz</button>
        <p>{{ quizDetails.description }}</p>
      </header>
    </section>

    <form #quizForm="ngForm">
      <div>
        <label for="category">Category</label>
        <input type="text" id="category" required [(ngModel)]="category" name="category" #categoryInput="ngModel">
      </div>
      <div>
        <label for="questionsAmount">Questions Amount</label>
        <input type="number" id="questionsAmount" required [(ngModel)]="questionsAmount" name="questionsAmount" #questionsAmountInput="ngModel">
      </div>
      <div>
        <label for="answersAmount">Answers Amount</label>
        <input type="number" id="answersAmount" required [(ngModel)]="answersAmount" name="answersAmount" #answersAmountInput="ngModel">
      </div>
      <button type="button" (click)="onSubmit()" [disabled]="!quizForm.form.valid">Submit</button>
    </form>

  <form class="container mt-4" #quizForm="ngForm">
    <div *ngFor="let question of questions; let i = index" class="mb-4">
      <div class="mb-3">
        <img class="float-right" src="assets\icons\clear24.png" (click)="deleteQuestion(i); $event.preventDefault()">
        <label for="questionText-{{i}}" class="form-label fw-bold">Pytanie {{i+1}}</label>
        <input type="text" class="form-control" id="questionText-{{i}}" [(ngModel)]="question.text" name="questionText-{{i}}" required>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="additionalValue-{{i}}" class="form-label">Punkty za prawidłową odpowiedź</label>
          <input type="number" class="form-control" id="additionalValue-{{i}}" [(ngModel)]="question.additionalValue" name="additionalValue-{{i}}" value="1">
        </div>
        <div class="col">
          <label for="substractionalValue-{{i}}" class="form-label">Punkty ujemne za nieprawidłową odpowiedź</label>
          <input type="number" class="form-control" id="substractionalValue-{{i}}" [(ngModel)]="question.substractionalValue" name="substractionalValue-{{i}}">
        </div>
      </div>
      <div class="mb-3">
        <label for="questionType-{{i}}" class="form-label" (change)="editQuestion(question)">Typ pytania</label>
        <select class="form-control" id="questionType-{{i}}" [(ngModel)]="question.type" name="questionType-{{i}}" (change)="onQuestionTypeChange(question, i)" required>
          <option value="" disabled selected>Rodzaj pytania</option>
          <option value="1">Jedna odpowiedź dobra</option>
          <option value="2">Prawda/Fałsz</option>
          <option value="3">Kilka odpowiedzi dobrych</option>
        </select>
      </div>
      <div *ngFor="let answer of question.answers; let j = index" class="mb-2">
        <img class="float-right" src="assets\icons\clear24.png" (click)="deleteAnswer(question,j)" *ngIf="questions[i].answers.length > 2">
        <label for="answerText-{{i}}-{{j}}" class="form-label">Odpowiedź {{j + 1}}</label>
        <input type="text" class="form-control" id="answerText-{{i}}-{{j}}" [(ngModel)]="answer.answerText" name="answerText-{{i}}-{{j}}" required>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isCorrect-{{i}}-{{j}}" [(ngModel)]="answer.isCorrect" name="isCorrect-{{i}}-{{j}}" (change)="onAnswerChange(question, j)">
          <label class="form-check-label" for="isCorrect-{{i}}-{{j}}">Prawidłowa odpowiedź</label>
        </div>
      </div>
      <button class="btn btn-outline-success mb-4" (click)="addAnswer(question)">Dodaj odpowiedź</button>
      <hr />
    </div>
    <button class="btn btn-outline-success me-2 mb-4" (click)="addQuestion(); $event.preventDefault()">Dodaj pytanie</button>
    <div class="d-flex justify-content-start">
        <button type="button" class="btn btn-primary mb-4" [disabled]="quizForm.invalid" [disabled]="!isFormValid()" (click)="onSubmit()">Zapisz</button>
    </div>
    
  </form>
</div>
