<div class="d-flex flex-column flex-lg-row">
  <app-moderator-side-nav></app-moderator-side-nav>
  <div class="flex-grow-1 p-4 text-center">
    <h2>Witaj w Panelu Moderatora!</h2>
    <p>Tutaj możesz tworzyć i zarządzać quizami</p>
    
    <div class="info-section">
      <h3>Kategorie</h3>
      <p>Dodawaj, edytuj lub usuwaj, aby porządkować utworzone quizy</p>
    </div>

    <div class="info-section">
      <h3>Tagi</h3>
      <p>Dodawaj, edytuj lub usuwaj  tagi, aby utrzymać treści quizów uporządkowane i łatwe do wyszukiwania.</p>
    </div>
    <div class="info-section">
      <h3>Lista quizów</h3>
      <p>W tym miejscu utworzysz oraz edytujesz swoje quizy</p>
    </div>
    </div>
    </div>