<div class="d-flex flex-column flex-lg-row">
  <app-moderator-side-nav></app-moderator-side-nav>
  <div class="flex-grow-1">
    <div class="user-list-container">
      <h2 class="text-center">Zarządzanie tagami</h2>
      <div class="col-md-6">
        <div class="d-flex mb-3">
          <button type="button" class="btn btn-primary me-3" [routerLink]="['/moderator/add-tag']">Dodaj</button>
          <input type="text" class="form-control" placeholder="Wyszukaj kategorie" [(ngModel)]="searchTerm" (ngModelChange)="filterTags()">
        </div>
      </div>
      
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tag of filteredTags; index as i">
                  <td>{{(currentPage-1)*itemsPerPage+i+1}}</td>
                  <td>
                    <a [routerLink]="['/moderator/edit-tag', tag.id]">{{tag.name}}</a>
                  </td>
              </tr>
          </tbody>
          </table>

          <div class="pagination-container">
            <button class="btn btn-secondary" (click)="changePage(-1)" [disabled]="currentPage === 1">Poprzednia</button>
            <span>Strona {{currentPage}}</span>
            <button class="btn btn-secondary" (click)="changePage(1)" [disabled]="currentPage * itemsPerPage >= tags.length">Następna</button>
          </div>
    </div>
  </div>
</div>
