<div class="d-flex flex-column flex-lg-row">
  <app-user-side-nav></app-user-side-nav>
  <div class="flex-grow-1">
    <div class="change-password-container">
      <h2>Zmiana hasła</h2>
      <div *ngIf="updateSuccess" class="alert alert-success" role="alert">
          Hasło zaktualizowane!
      </div>
      <div *ngIf="backendErrorMessages.length" class="alert alert-danger" role="alert">
        <ul>
          <li *ngFor="let message of backendErrorMessages">{{ message }}</li>
        </ul>
      </div>
      <form class="col-md-7" (ngSubmit)="onSubmit(changePasswordForm)" #changePasswordForm="ngForm">
        <div class="mb-3">
          <label for="currentPassword" class="form-label">Aktualne hasło:</label>
          <input type="password" class="form-control" id="currentPassword" [(ngModel)]="changePasswordData.currentPassword" name="currentPassword" required minlength="6" #currentPasswordRef="ngModel">
          <div *ngIf="submitted && currentPasswordRef.errors?.['required']" class="text-danger">
            Hasło jest wymagane
          </div>
          <div *ngIf="submitted && newPasswordRef.errors?.['minlength']" class="text-danger">
              Hasło musi mieć przynajmniej 6 znaków
            </div>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">Nowe hasło:</label>
          <input type="password" class="form-control" id="newPassword" [(ngModel)]="changePasswordData.newPassword" name="newPassword" required minlength="6" #newPasswordRef="ngModel">
          <div *ngIf="submitted && newPasswordRef.errors?.['required']" class="text-danger">
            Nowe hasło jest wymagane
          </div>
          <div *ngIf="submitted && newPasswordRef.errors?.['minlength']" class="text-danger">
            Hasło musi mieć przynajmniej 6 znaków
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label">Potwierdź nowe hasło:</label>
          <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="changePasswordData.confirmNewPassword" name="confirmNewPassword" required #confirmNewPasswordRef="ngModel">
          <div *ngIf="submitted && confirmNewPasswordRef.errors?.['required']" class="text-danger">
            Potwierdź nowe hasło
          </div>
          <div *ngIf="changePasswordData.newPassword !== changePasswordData.confirmNewPassword" class="text-danger">
            Hasła nie są identyczne
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Zmień hasło</button>
      </form>
    </div>
  </div>
</div>
