<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Resetowanie hasła</h3></div>
                <div class="card-body">
                    <div *ngIf="updateSuccess" class="alert alert-success" role="alert">
                        Hasło zostało zaktualizowane. Za chwilę zostaniesz przekierowany na stronę logowania
                    </div>
                    <div *ngIf="backendErrorMessages.length" class="alert alert-danger" role="alert">
                      <ul>
                        <li *ngFor="let message of backendErrorMessages">{{ message }}</li>
                      </ul>
                    </div>
<form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm">

    <div class="mb-3">
        <label for="token" class="form-label">Kod do resetowania hasła:</label>
        <input type="text" class="form-control" id="token" [(ngModel)]="resetPasswordData.token" name="token" required minlength="6" maxlength="6" #tokenRef="ngModel">
        <div *ngIf="submitted && tokenRef.errors?.['required']" class="text-danger">
            Kod jest wymagany
        </div>
        <div *ngIf="submitted && tokenRef.errors?.['minlength']" class="text-danger">
            Kod ma 6 znaków
          </div>
          <div *ngIf="submitted && tokenRef.errors?.['maxlength']" class="text-danger">
            Kod ma 6 znaków
          </div>
      </div>

    <div class="mb-3">
        <label for="password" class="form-label">Nowe hasło:</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="resetPasswordData.password" name="password" required minlength="6" #passwordRef="ngModel">
        <div *ngIf="submitted && passwordRef.errors?.['required']" class="text-danger">
          Hasło jest wymagane
        </div>
        <div *ngIf="submitted && passwordRef.errors?.['minlength']" class="text-danger">
            Hasło musi mieć przynajmniej 6 znaków
          </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Potwierdź nowe hasło:</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="resetPasswordData.confirmPassword" name="confirmPassword" required minlength="6" #confirmPasswordPasswordRef="ngModel">
        <div *ngIf="submitted && confirmPasswordPasswordRef.errors?.['required']" class="text-danger">
          Hasło jest wymagane
        </div>
        <div *ngIf="submitted && confirmPasswordPasswordRef.errors?.['minlength']" class="text-danger">
            Hasło musi mieć przynajmniej 6 znaków
          </div>
      </div>

<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
    <button type="submit" class="btn btn-primary">Resetuj hasło</button>
</div>
</form>

</div>