<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Rejestracja</h3></div>
                <div class="card-body">
                    <div *ngIf="backendErrorMessage" class="alert alert-danger">
                        {{ backendErrorMessage }}
                    </div>
                    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
                        <div class="form-group">
                            <label class="small mb-1" for="username">Nazwa użytkownika</label>
                            <input class="form-control py-4" id="username" type="text" 
                                   placeholder="Wpisz nazwę użytkownika" 
                                   [(ngModel)]="registerData.userName" 
                                   name="userName" 
                                   minlength="3" 
                                   maxlength="30" 
                                   required 
                                   #userNameRef="ngModel"/>
                            <div *ngIf="userNameRef.errors && (registerForm.submitted || userNameRef.dirty || userNameRef.touched)" class="text-danger">
                                <div *ngIf="userNameRef.errors['required']">
                                    Nazwa użytkownika jest wymagana.
                                </div>
                                <div *ngIf="userNameRef.errors['minlength']">
                                    Nazwa musi składać się z co najmniej 3 znaków.
                                </div>
                                <div *ngIf="userNameRef.errors['maxlength']">
                                    Nazwa nie może być dłuższa niż 30 znaków.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="password">Hasło</label>
                            <input class="form-control py-4" id="password" type="password" 
                                   placeholder="Wpisz hasło" 
                                   [(ngModel)]="registerData.password" 
                                   name="password" 
                                   required 
                                   minlength="6" 
                                   maxlength="100" 
                                   #passwordRef="ngModel"/>
                                   <div *ngIf="passwordRef.errors && (registerForm.submitted || passwordRef.dirty || passwordRef.touched)" class="text-danger">
                                    <div *ngIf="passwordRef.errors['required']">
                                        Hasło jest wymagane.
                                    </div>
                                    <div *ngIf="passwordRef.errors['minlength']">
                                        Hasło musi składać się z co najmniej 6 znaków.
                                    </div>
                                    <div *ngIf="passwordRef.errors['maxlength']">
                                        Hasło nie może być dłuższe niż 100 znaków.
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="firstName">Imię</label>
                            <input class="form-control py-4" id="firstName" type="text" placeholder="Wpisz imię" [(ngModel)]="registerData.firstName" name="firstName" required maxlength="50" #firstNameRef="ngModel"/>
                            <div *ngIf="firstNameRef.errors && (registerForm.submitted || firstNameRef.dirty || firstNameRef.touched)" class="text-danger">
                                <div *ngIf="firstNameRef.errors['required']">
                                    Imię jest wymagane.
                                </div>
                                <div *ngIf="firstNameRef.errors['maxlength']">
                                    Imię nie może być dłuższe niż 50 znaków.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="lastName">Nazwisko</label>
                            <input class="form-control py-4" id="lastName" type="text" placeholder="Wpisz nazwisko" [(ngModel)]="registerData.lastName" name="lastName" required maxlength="50" #lastNameRef="ngModel"/>
                            <div *ngIf="lastNameRef.errors && (registerForm.submitted || lastNameRef.dirty || lastNameRef.touched)" class="text-danger">
                                <div *ngIf="lastNameRef.errors['required']">
                                    Nazwisko jest wymagane.
                                </div>
                                <div *ngIf="lastNameRef.errors['maxlength']">
                                    Nazwisko nie może być dłuższe niż 50 znaków.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="email">Email</label>
                            <input class="form-control py-4" id="email" type="email" placeholder="Wpisz adres email" 
                                   [(ngModel)]="registerData.email" name="email" required email #emailRef="ngModel"/>
                            <div *ngIf="emailRef.errors && (registerForm.submitted || emailRef.dirty || emailRef.touched)" class="text-danger">
                                <div *ngIf="emailRef.errors['required']">
                                    Email jest wymagany.
                                </div>
                                <div *ngIf="emailRef.errors['email']">
                                    Proszę wprowadzić poprawny adres email.
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a routerLink="/login">Masz już konto? Zaloguj się!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
