<div class="d-flex flex-column flex-lg-row">
  <app-admin-side-nav></app-admin-side-nav>
  <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center p-4">
      <h2 class="text-center mb-4">Witaj w Panelu Administracyjnym!</h2>
      <p class="text-center mb-2">Jako administrator, możesz wykonywać następujące akcje:</p>
      <ul class="list-unstyled text-center">
          <li><i class="bi bi-pencil-square"></i> Edytować dane użytkowników</li>
          <li><i class="bi bi-people-fill"></i> Zmieniać role użytkowników</li>
      </ul>
      <p class="text-center mt-4">Skorzystaj z menu po lewej stronie, aby rozpocząć.</p>
  </div>
</div>