<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Resetowanie hasła</h3></div>
                <div class="card-body">
                    <div *ngIf="updateSuccess" class="alert alert-success" role="alert">
                        Na wskazany adres email został wysłany link z kodem do resetu hasła
                    </div>
                    <div *ngIf="backendErrorMessages.length" class="alert alert-danger" role="alert">
                      <ul>
                        <li *ngFor="let message of backendErrorMessages">{{ message }}</li>
                      </ul>
                    </div>
<form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm">

<div class="form-group">
    <label class="small mb-1" for="email">Email</label>
    <input class="form-control py-4" id="email" type="email" placeholder="Wpisz adres email" 
           [(ngModel)]="resetPasswordData.email" name="email" required email #emailRef="ngModel"/>
    <div *ngIf="emailRef.errors && (resetPasswordForm.submitted || emailRef.dirty || emailRef.touched)" class="text-danger">
        <div *ngIf="emailRef.errors['required']">
            Email jest wymagany.
        </div>
        <div *ngIf="emailRef.errors['email']">
            Proszę wprowadzić poprawny adres email.
        </div>
    </div>
</div>

<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
    <button type="submit" class="btn btn-primary">Resetuj hasło</button>
</div>
</form></div>